h1{
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center;
    font-family: 'italic';
}
body{
    margin: 0;
}
  .card {
    width: 100%;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s, box-shadow 0.2s;
    background-color : none!important;  
  }
  .card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }
  .card-img-top {
    height: 150px; 
    object-fit: cover; 
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
  }
  .card-title {
    font-weight: bold;
    color: #333;
    font-family: 'regular'; 
  }